a:hover {
  text-decoration: none;
}
/*Header e nav*/
.bg-light {
  background-color: #bbe7e0!important;
  border-top: 0.5rem solid #6c4232;
  border-bottom: 0.5rem solid #6c4232;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-brand img {
  width: 10rem;
}
.navbar-nav {
  margin-left: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link {
  color: #371617!important;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #316b61!important;
}
.navbar-light .navbar-nav .nav-link.actived {
  font-weight: 700;
}
.navbar-nav button.btn.btnChamada {
  background-color: #316b61;
  color: #30b8a1;
  padding: 10px;
}
.navbar-nav button.btn.btnChamada a {
  color: #b5fff3;
  text-transform: uppercase;
  padding: 15px 15px;
  font-weight: 600;
  font-size: 20px;
}
/*Footer*/
footer {
  background-color: rgb(108, 66, 50);
  color: white;
  font-family: 'Nunito', sans-serif;
}
footer p {
  margin: 0;
  padding: 5px 20px;
}
footer a.linkImportante {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  animation-name: pisca;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*Main Home*/
.carousel {
  margin-top: 10vh;
  height: 82vh;
  overflow: hidden;
}
.carousel-item img {
  min-width: 600px;
  width: 100%;
  height: auto;
  min-height: 85vh;
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
}
.carousel-caption {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  min-width: 300px;
  padding: 20px;
  top: 50vh;
  left: 5%;
  height: 150px;
}
.carousel-indicators {
  margin: 10px 0 10px 0;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
  background-color: rgba(110, 255, 228, 0.781);
}
/*Sobre*/
#sobre {
  background-color: rgba(110, 255, 228, 0.781);
}
#sobre .container {
  background-color: white;
  padding: 50px 30px 20px 30px;
}
h2 {
  border-bottom: 5px solid #6c4232;
  margin-bottom: 15px;
  display: inline-flex;
}
#sobre .imgRow {
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
#sobre .imgRow img {
  height: auto;
  min-height: 100px;
  width: 20%;
  padding: 0;
  margin: 0;
}

/*Curso*/
#curso {
  background: repeating-linear-gradient(
  180deg,
rgba(110, 255, 228, 0.781),
rgba(110, 255, 228, 0.781) 40px,
#30b8a1 40px,
#30b8a1 60px
);
}
#curso .container {
  padding: 50px 30px;
  background-color: white;
}
#curso .cursoApresentacao {
  padding: 50px 0 50px 0;
}
#curso ul {
  font-size: 14px;
}
#curso button.btn {
  background-color: #316b61;
  padding: 10px 20px;
}
#curso button.btn:hover {
  background-color: #30b8a1;
}
#curso button.btn a {
  color: white;
  font-weight: 500;
}
/*Preço*/
#precos .row {
  height: 200px;
  background:
  /* top, transparent red, faked with gradient */
  linear-gradient(
    rgba(70, 27, 10, 0.781),
    rgba(70, 27, 10, 0.781)
  ),
  /* bottom, image */
  url('../img/curso/fotoChamada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
#precos h3 {
  text-align: center;
  padding: 20px 40px;
  font-size: 40px;
}
#precos h3 span:first-child {
  font-size: 30px;
  text-decoration: line-through;
  color: red;
}
#precos h3 span:last-child {
  font-size: 45px;
}
#precos button.btn.btnChamada {
  background-color: #eefffc!important;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #316b61;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 60px;
}
#contacto {
  background-color: rgba(110, 255, 228, 0.781);
}
#contacto .container {
  background-color: white;
  padding: 50px 30px 80px 30px;
}
#contacto .col-lg-5 div{
  border-left: 3px solid #6c4232;
  padding-left: 20px;
}

/*Pagina O Curso*/
video.videoLoop {
  width: 70%;
  transform: scaleX(-1);
  -webkit-mask-image: linear-gradient(to left, transparent 5%, black 50%);
  mask-image: linear-gradient(to right, rgba(0,0,0), rgba(0,0,0,0));
  position: absolute;
  z-index: -1;
  right: 0;
}
#ocurso {
  margin-top: 12vh;
}
#ocurso .chamada {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img//curso/fotoChamada.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 30px;
  margin: 30px 2.5px 50px 2.5px;
  color: white;
}
#ocurso h3 {
  text-align: center;
  padding: 20px 40px;
  font-size: 40px;
}
#ocurso h3 span:first-child {
  font-size: 30px;
  text-decoration: line-through;
  color: red;
}
#ocurso h3 span:last-child {
  font-size: 45px;
}
#ocurso button.btn.btnChamada {
  background-color: #eefffc!important;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #316b61;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 60px;
}
#infocurso {
  padding: 40px 0;
}
#infocurso button.btn.btnChamada {
  background-color: #eefffc!important;
  font-size: 15px;
  color: #316b61;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 60px;
}
#infocurso .gridObject img {
  height: 150px;
  width: auto;
}
#infocurso .gridObject {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 150px;
  row-gap: 15px;
  overflow: hidden;
}
#infocurso .gridObject div:first-child {
  grid-row: 1/2;
}
#infocurso .gridObject div:last-child {
  grid-row: 2/3;
}

.card-img {
  filter: brightness(0.3);
}
/*FAQ*/
#faq {
  padding: 50px 0 80px 0;
}
#faq .btn-link {
  color: #316b61;
  font-weight: 500;
}
#faq .card-header  {
  background-color: #bbe7e0;
}

/*PageFinal*/
.siteImg {
  -webkit-mask-image: linear-gradient(to right, transparent 5%, black 50%);
  mask-image: linear-gradient(to left, rgba(0,0,0), rgba(0,0,0,0));
  width: 40%;
  position: absolute;
  right: 0;
  top: 12vh;
  z-index: -1;
}
#projeto {
  margin-top: 15vh;
}
#autoavaliacao {
  background-color: white;
  padding-bottom: 80px;
}
#membro1 {
  background-color: #e9f1f0;
  padding: 30px 10px;
  border-radius: 15px;
}
#autoavaliacao i {
  font-size: 50px;
}
#membro2 {
  background-color: #c4fff8;
  padding: 30px 10px;
  border-radius: 15px;
  margin-top: 10px;
}

@keyframes pisca {
  from {
    color: white;
    transition: color 1s;
  }
  to {
    color: #b5fff3;
    transition: color 1s;
  }
}

@media (max-width: 991.98px) {
  #curso .cursoApresentacao .col-lg-2 {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  #home .carousel-caption {
    display: none;
  }
  #precos .row {
    height: 250px;
  }
  .siteImg {
    display: none;
  }
 }

@media (max-width: 575.98px) {
  #precos h3 {
    font-size: 30px;
  }
  #precos .row {
    height: 300px;
  }
}
