/*Header e nav*/
.bg-light {
  background-color: #bbe7e0!important;
  border-top: 0.5rem solid #6c4232;
  border-bottom: 0.5rem solid #6c4232;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-brand img {
  width: 10rem;
}
.navbar-nav {
  margin-left: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
}
/*Footer*/
footer {
  background-color: #6c4232;
  color: white;
  font-family: 'Nunito', sans-serif;
}
footer p {
  margin: 0;
  padding: 5px 20px;
}

/*Main Home*/
.carousel {
  height: 82vh;
  overflow: hidden;
}
.carousel-item img {
  min-width: 600px;
  width: 100%;
  height: auto;
  min-height: 85vh;
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
}
.carousel-caption {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  min-width: 300px;
  padding: 20px;
  top: 50vh;
  left: 5%;
  height: 150px;
}
.carousel-indicators {
  margin: 10px 0 10px 0;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
  background-color: rgba(110, 255, 228, 0.781);
}
/*Sobre*/
#sobre {
  background-color: rgba(110, 255, 228, 0.781);
}
#sobre .container {
  background-color: white;
  padding: 50px 30px 20px 30px;
}
h2 {
  border-bottom: 5px solid #6c4232;
  margin-bottom: 15px;
  display: inline-flex;
}
#sobre .imgRow {
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
#sobre .imgRow img {
  height: auto;
  min-height: 100px;
  width: 20%;
  padding: 0;
  margin: 0;
}

/*Curso*/
#curso {
  background: repeating-linear-gradient(
  180deg,
rgba(110, 255, 228, 0.781),
rgba(110, 255, 228, 0.781) 40px,
#30b8a1 40px,
#30b8a1 60px
);
}
#curso .container {
  padding: 50px 30px;
  background-color: white;
}
